* {
    box-sizing: border-box;
}

body {
    margin: cover;
    padding: 0%;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.card {
    margin-bottom: 2%;
    border: none;
    @media (max-width: 768px) {
       margin-top: 14%;
    }
}

.box {
    height: 70vh;
    width: 93%;
    padding: 6%;
    position: absolute;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 22%;
    border-radius: 2%;
    box-shadow: 25px 25px 30px #6c1111;

    @media (max-width: 768px) {
        left: 2%;
        padding: 11%;
    }
}


.box input[type="text"],
.box input[type="password"] {
    font-size: 1.0vw;
    border: 0;
    background: none;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: 0.2vw solid #3498db;
    padding: 2% 2%;
    width: 15vw;
    outline: none;
    color: white;
    border-radius: 2.4vw;
    transition: 0.25s;
    @media (max-width: 768px) {
        font-size: 5.0vw;
        width: 35vw;
        border-radius: 5.4vw;
        margin: 10% auto;
    }
}

.text-muted{
    @media (max-width: 768px) {
        margin-top: 7%;
        font-size: 5.0vw;
    }
}
.reg{
    @media (max-width: 768px) {
        margin-top: 7%;
        font-size: 5.0vw;
    }
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 8vw;
        margin-bottom: 10%;
    }
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 70%;
    border-color: #2ecc71;
    @media (max-width: 768px) {
        width:85%
    }
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 0.2vw solid #2ecc71;
    padding: 1.9% 12%;
    outline: none;
    color: white;
    border-radius: 2.4vw;
    transition: 0.25s;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 6vw;
        border-radius: 5.4vw;
        margin: 8% auto;
        transition: 0.50s;
    }
}


.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}



/* {{!--Below is for modal Box --}} */

#openModal {
    position: absolute;
    top: 85%;
    left: 28%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0.8vw;
    padding: 0.5vw 1vw;
    font-size: 1.8vw;
    cursor: pointer;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    @media (max-width: 768px) {
        font-size: 5.8vw;
        top: 88%;
        left: 24%;
        padding: 2vw 3vw;
        border-radius: 2.8vw;
    }
}


#openModal:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
        top: 27%;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

