<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="images/EDINS.jpg" alt="Logo" class="logo1" width="50" height="50">
                <h3 class="logo1 logo2" style="color: rgb(64, 141, 177);font-size:40px"> Eᴅɪɴs</h3>
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="images/EDINS.jpg" alt="Logo" class="logo1">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-warning" name="log" id="ftn"
                        onclick="return confirm('Do really want to logout?');">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</div>