<style>
    .form-gap {
        padding-top: 70px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="alert alert-info" role="alert">
                            {{success}}
                        </div>
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>Please check your Email for OTP</p>
                        <div class="panel-body">

                            <form action="/otp" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address" class="form-control"
                                            type="email" value="{{em}}" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input name="getotp" class="btn btn-lg btn-primary btn-block" value="Get OTP"
                                        type="submit">
                                </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-knight"></i></span>
                                <input placeholder="Enter OTP" class="form-control" type="text" name="otpp">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                <input placeholder="Enter new password" class="form-control" type="text" name="pass">
                            </div>
                        </div>


                        <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                                type="submit">
                        </div>
                        <p class="mb-0 mt-4 text-center">
                            <a href="/" class="link">Click Here to Login</a>
                        </p>
                        </form>

                        <input type="hidden" class="hide" name="token" id="token" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>